.profile-header {
  display: flex;
  justify-content: center;
  font-style: italic;
  letter-spacing: 3px;
  color: rgb(98, 5, 135);
}

.profile-main {
  display: flex;
  justify-content: center;
  color: white;
}
