.div_possible_answers{
    width:50%;
    height:100%;
    margin: auto;
    padding: 2em;
}

#root{
    height: 70em;
}

.container{
    height: 50%;
    margin-top: 5em !important;
}

.font_large{
    font-size:large !important;
}

.container_question{
    margin: auto;
    width: 50%;
    height: 10%;
    padding:2em;
}

.possbile_answer_div{
    height: 25%;
}

.possbile_answer{
     width:100% !important;
     height:100% !important;
     margin:1em !important;
}



.score_container{
    position: absolute;
    width:10%;
    right: 5em;
    top: 5em;
}

.score_btn{
    width:100% !important;
}

.wrong_btn{
    background-color:red !important;
}

.correct_btn{
    background-color:green !important;
}

.categoryform{
    margin:auto;
    width: 20% !important;
    max-width: 20% !important;
}

.selectlabel {
    font-size:30px !important;
    color:#F2F3F5 !important;

}
