.header {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 3fr;
  letter-spacing: 3px;
  padding-top: 2em;
  padding-bottom: 3em;
  color: whitesmoke;
}

.main {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  /* background-color: lightsalmon;
  border: 3px solid purple; */
}

thead th:nth-child(1) {
  width: 25%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 25%;
}

thead th:nth-child(4) {
  width: 25%;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 4px;
}

th,
td {
  padding: 10px;
}

tbody td {
  text-align: center;
}
