.leaderboard {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-style: italic;
  letter-spacing: 3px;
  padding-bottom: 2em;
  text-decoration: underline whitesmoke;
  text-decoration-thickness: 3px;
  color: whitesmoke;
}

.main {
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

table {
  table-layout: flex;
  width: 100%;
  border-collapse: collapse;
}

thead th:nth-child(1) {
  width: 20%;
  font-size: 20px;
  text-decoration: underline white;
  text-decoration-thickness: 3px;
}

thead th:nth-child(2) {
  width: 20%;
  font-size: 20px;
  text-decoration: underline white;
  text-decoration-thickness: 3px;
}

thead th:nth-child(3) {
  width: 20%;
  font-size: 20px;
  text-decoration: underline white;
  text-decoration-thickness: 3px;
}

thead th:nth-child(4) {
  width: 20%;
  font-size: 20px;
  text-decoration: underline white;
  text-decoration-thickness: 3px;
}

thead th:nth-child(5) {
  width: 20%;
  font-size: 20px;
  text-decoration: underline white;
  text-decoration-thickness: 3px;
}
th {
  letter-spacing: 4px;
}

td {
  letter-spacing: 4px;
}

th,
td {
  padding: 10px;
}

tbody td {
  text-align: center;
}
