.profile-header {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 20px;

  color: whitesmoke;
}

.profile-main {
  display: flex;
  justify-content: center;

  color: whitesmoke;
}

.profile-stats {
  display: flex;
  justify-content: center;
  font-style: italic;
  text-decoration: underline whitesmoke;
  text-decoration-thickness: 3px;
  color: whitesmoke;
}

.profile-stats-data {
  display: flex;
  justify-content: center;
  font-style: italic;
  color: whitesmoke;
}
.game-history {
  display: flex;
  justify-content: center;
  font-style: italic;
  /* padding-left: 2em; */
  text-decoration: underline white;
  text-decoration-thickness: 3px;
  color: whitesmoke;
}
