.profile-header {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 20px;
  letter-spacing: 3px;
  padding-top: 2em;
  padding-bottom: 2em;
  color: rgb(235, 121, 14);
}

.profile-main {
  display: flex;
  justify-content: center;
  color: white;
}

.your-stats {
  padding-left: 3em;
  padding-bottom: 3em;
  color: white;
}
.game-history {
  padding-left: 3em;
  color: white;
}
