.profile-header {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 1fr;
  letter-spacing: 3px;
  color: rgb(235, 121, 14);
}

.profile-main {
  display: flex;
  justify-content: center;
  color: white;
}
