.div_possible_answers{
    width:50%;
    height:100%;
    margin: auto;
    padding: 2em;
    align-content: center;
}

#root{
    height: 70em;
}

.questionStyle{
    color: white;
	font-size: 2rem;
	text-transform: uppercase;
	display: block;
	/* width: 100%; */
	text-align: center;
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

.timerStyle{
	color: #f1c40f;
	font-size: 2rem;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
    align-content: center;
}

.container{
    height: 50%;
    margin-top: 5em !important;
    align-items: center;
}

.font_large{
    font-size:large !important;

}

.container_question{
    margin: auto;
    width: 50%;
    height: 10%;
    padding:2em;
}

.possbile_answer_div{
    height: 25%;
    text-align: center;
    align-content: center;
}

.possbile_answer{
     width:100% !important;
     height:100% !important;
     margin:1em !important;
     text-align: center;
     align-content: center;
}

.score_container{
    position: absolute;
    width:10%;
    right: 5em;
    top: 5em;
}

.holder{
    text-align: center;
    align-content: center;
    padding: 2em;
}

.score_btn{
    width:100% !important;
}

.wrong_btn{
    background-color:red !important;
}

.correct_btn{
    background-color:green !important;
}

.categoryform{
    margin:auto;
    width: 20% !important;
    max-width: 20% !important;
    padding:2em;
    z-index: 6000;
    opacity: 1;
}

.selectlabel {
    font-size:20px !important;
    color: white !important;
    padding:2em;
    z-index: 500;
    opacity: 1;

}



.centeredDiv{
    margin:auto !important;
    width: 50% !important;
    text-align: center;
     align-content: center;
}

.whiteColored{
    color:white !important;
}

.MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl  css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    color:white !important;
}

#demo-simple-selectCat{
    color:white !important;
}

#demo-simple-selectDif{
    color:white !important;
}
